
html
{
  height:100%;
  width:100%;
}
body{
  background:url('images/grass.jpg') no-repeat;
  background-size: cover;
  height:100%;
  srcset="images/tree_wide_480.jpg  480w,
  images/tree_wide_960.jpg  960w,
  images/tree_wide_1440.jpg 1440w,
	 		        images/tree_wide_1920.jpg 1920w,
                        images/tree_wide_2880.jpg 2880w,
                        images/tree_wide_3840.jpg 3840w
	

	        <img class = "background_image"
               src="images/tree_wide_2880.jpg"
		       alt="Tree against mountain background"
               srcset="images/tree_wide_480.jpg  480w,
	   	  	            images/tree_wide_960.jpg  960w,
	   	  	            images/tree_wide_1440.jpg 1440w,
		 		        images/tree_wide_1920.jpg 1920w,
                        images/tree_wide_2880.jpg 2880w,
                        images/tree_wide_3840.jpg 3840w
                      ">
	
	
	
}

.form-top{
  margin-top: 30px;
}
.panel{
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
  border-radius: 6px;
    border: 0;
}
@-moz-document url-prefix() {
    .form-control{
      height: auto;
    }
}
.panel-primary{
  background-color: #2c3e50;
  color: #fff;
}
.panel-primary>.panel-heading {
    color: #fff;
    font-size: 20px;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.btn-warning{
  background-color: transparent;
  border-color: #bdc3c7;
}
